# --------------------- GO ---------------------
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.boc

miningPoolCli
__miner__
stats.json
.temp
test
serveraddr.txt

# --------------------- build ---------------------
*.zip
*.tar.gz
miningPoolCli*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# --------------------- MAC OS ---------------------
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --------------------- JetBrains ---------------------
.idea/*




